.footer {
  padding-top: 4.6rem;
  padding-bottom: 2.2rem;
  background-image: url("img/education-format/bg.svg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  .row:first-of-type {
    margin-bottom: 1.6rem;
  }
  .socials-desktop {
    display: none;
  }
}

.footer__logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.footer__adress-container {
  text-align: center;
}

.footer__logo {
  width: pxToRem(107px);
  height: pxToRem(35px);
}

.footer__adress-link {
  font-family: HelveticaR;
  font-size: pxToRem(14px);
  color: #2c2c2c;
  line-height: 1.7;
  letter-spacing: .3px;
  margin-bottom: 1.7rem;
  display: block;
}

.footer__contacts-list-item {
  margin-bottom: .4rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.footer__contacts-list-link {
  font-family: HelveticaR;
  font-size: pxToRem(14px);
  color: #2c2c2c;
  letter-spacing: .3px;
}

.footer__btn {
  font-family: HelveticaB;
  font-size: pxToRem(13px);
  color: #fff;
  background: linear-gradient(to right, #99a6f5, #ba54e9);
  padding: 1.3rem 0;
  width: 16.7rem;
  display: inline-block;
  border-radius: 28px;
  margin-bottom: 2.2rem;
}

.footer__adress-wrapper {
  margin-bottom: 1.8rem;
}

.footer__socials-container {
  display: flex;
  justify-content: center;
}

.footer__social-link {
  display: block;
  margin-right: 1.1rem;
  &:last-of-type {
    margin-right: 0;
  }
}

@media (min-width: 768px) {
  .footer {
    padding-top: 5rem;
    padding-bottom: 1.5rem;
    position: relative;
    &::before {
      display: block;
      content: url("img/footer/rocket.svg");
      width: 10rem;
      position: absolute;
      bottom: 5.7rem;
      right: 2.1rem;
    }
    .container--width {
      width: 40rem;
      margin: 0 auto;
    }
    .row:first-of-type {
      margin-bottom: 2.7rem;
    }
  }

  .footer__logo {
    width: 6.9875rem;
    height: 2.2875rem;
  }

  .footer__adress-container {
    text-align: left;
  }

  .footer__adress-wrapper {
    display: flex;
    margin-bottom: 2.5rem;
  }

  .footer__logo-container {
    justify-content: flex-start;
    margin-bottom: 1.15rem;
  }

  .footer__adress-link {
    letter-spacing: .7px;
    line-height: 1.6;
    font-size: 1rem;
    margin-right: 3.9rem;
    margin-bottom: 0;
  }

  .footer__contacts-list-link {
    font-size: 1rem;
    letter-spacing: .7px;
  }

  .footer__btn {
    text-align: center;
    font-size: 1rem;
    width: 15.2rem;
    margin-bottom: 0;
    margin-right: 2.5rem;
  }

  .footer__btnsocials-container {
    display: flex;
    align-items: center;
  }

}

@media (min-width: 1200px) {
  .footer {
    padding-top: 13.4rem;
    padding-bottom: 3.5rem;
    background-position: 0 0;
    &::before {
      width: 17.85rem;
      bottom: 0;
      right: 0;
    }
    .row:first-of-type {
      margin-bottom: 3.8rem;
    }
    .container-fluid {
      width: 78rem;
    }
    .socials-mobile {
      display: none;
    }
    .socials-desktop {
      display: flex;
    }
  }

  .footer__adress-container {
    display: flex;
  }

  .footer__adress-wrapper {
    margin-bottom: 0;
  }

  .footer__btn {
    margin-right: 0;
  }

  .footer__adress-link {
    margin-right: 6.9rem;
  }

  .footer__contacts-list {
    margin-right: 7.6rem;
  }

  .footer__btnsocials-container {
    align-items: flex-start;
  }
}

@media (min-width: 1454px) {
  .footer {
    &::before {
      width: 27.85rem;
      bottom: 0;
      right: 1.8rem;
    }
  }
}
