.prepare-child {
  padding-top: 3.1rem;
  padding-bottom: 3rem;
  .row:first-of-type {
    margin-bottom: 1.2rem;
  }
}

.prepare-child__img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.7rem;
}

.prepare-child__img {
  display: block;
  width: pxToRem(39px);
  height: pxToRem(39px);
}

.prepare-child__title {
  display: block;
  font-family: OswaldB;
  font-size: pxToRem(15px);
  text-align: center;
  margin-bottom: 1.2rem;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  span {
    color: #eebf3e;
  }
}

.prepare-child__subtitle {
  font-family: HelveticaB;
  font-size: 1rem;
  text-align: center;
  color: #eebf3e;
  line-height: 1.4;
  letter-spacing: .5px;
}

// CARDS
.prepare-child__card {
  background-color: #f5f9fe;
  padding-top: 2.4rem;
  padding-bottom: 2.5rem;
  &:nth-of-type(2n) {
    background-color: #e8f1fa;
  }
}

.prepare-child__card-text-container {
  width: 15.5rem;
  margin: 0 auto;
}

.prepare-child__card-title {
  font-family: HelveticaB;
  font-size: pxToRem(20px);
  margin-bottom: 1.6rem;
  letter-spacing: .6px;
  &::before {
    display: inline-block;
    content: url("img/prepare-child/strar.png");
    width: pxToRem(18px);
    margin-right: 1.2rem;
  }
}

.prepare-child__card-age {
  display: inline-block;
  font-family: HelveticaB;
  font-size: pxToRem(25px);
  color: #eebf3e;
  margin-bottom: .6rem;
  position: relative;
  &::after {
    display: inline-block;
    content: "років";
    font-family: HelveticaR;
    font-size: pxToRem(13px);
    color: #eebf3e;
    position: absolute;
    top: -0.9rem;
    right: -2.4rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #eebf3e;
  }
}

.prepare-child__card-text {
  font-family: HelveticaR;
  font-size: pxToRem(14px);
  line-height: 1.7;
  letter-spacing: .4px;
}

@media (max-width: 767px) {
  .prepare-child {
    .row {
      margin: 0;
      [class *= col-] {
        padding: 0;
      }
    }
    .container-fluid {
      padding: 0;
    }
  }
}

@media (min-width: 768px) {
  .prepare-child {
    padding-top: 5.6rem;
    padding-bottom: 5.6rem;
    .row:first-of-type {
      margin-bottom: 2rem;
    }
  }

  .prepare-child__img-container {
    margin-bottom: 2.5rem;
  }

  .prepare-child__img {
    width: pxToRem(50px);
    height: pxToRem(50px);
  }

  .prepare-child__title {
    font-size: pxToRem(20px);
    letter-spacing: 1.2px;
    margin-bottom: 1.85rem;
    br {
      display: none;
    }
  }

  .prepare-child__subtitle {
    font-size: pxToRem(20px);
    padding: 0 8.5rem;
    line-height: 1.3;
    letter-spacing: .6px;
    br {
      display: none;
    }
  }

// CARD
  .prepare-child__card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 42.4rem;
  }

  .prepare-child__card {
    flex-basis: 50%;
    padding-top: 2.5rem;
    padding-bottom: 0;
    height: pxToRem(263px);
    background-color: #e8f1fa;
    &:first-of-type {
      background-color: #f5f9fe;
    }
    &:last-of-type {
      background-color: #f5f9fe;
    }
  }

  .prepare-child__card-text-container {
    width: 16.6rem;
  }

  .prepare-child__card-title {
    font-size: pxToRem(25px);
    margin-bottom: 1.9rem;
  }

  .prepare-child__card-age {
    font-size: pxToRem(30px);
    margin-bottom: 1.1rem;
  }

  .prepare-child__card-text {
    font-size: 1rem;
    line-height: 1.8;
  }
}

@media (min-width: 1200px) {
  .prepare-child {
    padding-top: 8.4rem;
    padding-bottom: 8.2rem;
    .row:first-of-type {
      margin-bottom: 3.5rem;
    }
  }

  .prepare-child__img-container {
    margin-bottom: 4.2rem;
  }

  .prepare-child__img {
    width: pxToRem(65px);
    height: pxToRem(65px);
  }

  .prepare-child__title {
    font-size: pxToRem(30px);
    letter-spacing: 1.8px;
    margin-bottom: 2.65rem;
  }

  .prepare-child__subtitle {
    font-size: pxToRem(30px);
    letter-spacing: .9px;
    padding: 0 10.3rem;
  }

// CARD
  .prepare-child__card-container {
    width: auto;
  }

  .prepare-child__card {
    flex-basis: 25%;
    padding-top: 3.8rem;
    height: 20rem;
    background-color: #f5f9fe;
    &:nth-of-type(2n) {
      background-color: #e8f1fa;
    }
  }

  .prepare-child__card-text-container {
    width: 14rem;
  }

  .prepare-child__card-age {
    margin-bottom: 1.5rem;
    &::after {
      top: -.3rem;
    }
  }

}

@media (min-width: 1454px) {
  .prepare-child__subtitle {
    padding: 0 21.9rem;
  }

  .prepare-child__card-title {
    font-size: pxToRem(30px);
  }

  .prepare-child__card-age {
    font-size: pxToRem(40px);
  }

  .prepare-child__card-text-container {
    width: 17.3rem;
  }
}
