.sec-01 {
  padding-top: 2rem;
  .row {
    [class *=col-]:first-of-type {
      margin-bottom: 2.7rem;
    }
  }
}

.sec-01__text {
  font-family: HelveticaB;
  font-size: pxToRem(20px);
  line-height: pxToRem(26px);
  text-align: center;
  letter-spacing: .6px;
  span {
    color: #eebf3e;
  }
}

.sec-01__img-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  &::before {
    display: block;
    content: url("img/sec-01/kids.svg");
    position: absolute;
    z-index: -1;
    width: pxToRem(311px);
  }
}

.sec-01__img {
  display: block;
  width: pxToRem(225px);
}

@media (min-width: 768px) {
  .sec-01 {
    padding-top: 1.7rem;
    .row {
      [class *=col-]:first-of-type {
        margin-bottom: 5.1rem;
      }
    }
  }

  .sec-01__text {
    font-size: pxToRem(35px);
    line-height: pxToRem(45px);
    padding: 0 7.6rem;
  }

  .sec-01__img {
    width: pxToRem(443px);
  }

  .sec-01__img-container {
    &::before {
      width: pxToRem(639px);
    }
  }
}

@media (min-width: 1200px) {
  .sec-01 {
    padding-top: 7rem;
    .row {
      display: flex;
      [class *= col-]:first-of-type {
        order: 1;
        margin-bottom: 0;
      }
    }
  }

  .sec-01__text {
    font-size: 2.6rem;
    line-height: pxToRem(75px);
    padding: 0;
    text-align: left;
    padding-top: 3.7rem;
    br {
      display: none;
    }
  }

  .sec-01__img {
    width: pxToRem(518px);
  }

  .sec-01__img-container {
    &::before {
      width: pxToRem(738px);
    }
  }
}

@media (min-width: 1454px) {
  .sec-01 {
    padding-top: 17rem;
  }

  .sec-01__img {
    width: auto;
  }

  .sec-01__img-container {
    &::before {
      width: pxToRem(968px);
    }
  }

  .sec-01__text {
    font-size: pxToRem(55px);
    padding-top: 8.6rem;
  }
}
