.teachers {
  padding-top: 3.1rem;
  padding-bottom: .2rem;
  background-color: #fdfdfd;
}

.teachers__title {
  font-family: OswaldB;
  font-size: pxToRem(15px);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .9px;
  margin-bottom: 2rem;
  span {
    color: #eebf3e;
  }
}

.teachers__slider {
  position: relative;
  .owl-nav {
    position: absolute;
    width: 90%;
    display: flex;
    justify-content: space-between;
    top: 9.4rem;
    left: 50%;
    transform: translateX(-50%);
    button {
      width: 2.4rem;
      height: 2.4rem;
      background-color: #fff !important;
      border-radius: 50%;
      box-shadow: 0 0 20px 0 rgba(0,0,0,.1);
      &:focus {
        outline: none;
      }
    }
    .owl-prev {
      transform: rotate(180deg);
    }
  }
}

.teachers__card {
  width: 17rem;
  height: pxToRem(596px);
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 10px 10px rgba(0,0,0,.1);
  margin-bottom: 1rem;
  .teacher-2 {
    &::before {
      content: "Максим Норець"
    }
  }
  .teacher-3 {
    &::before {
      content: "Софія Гордієнко"
    }
  }
}

.teachers__card-img-container {
  margin-bottom: 2.3rem;
  position: relative;
  &::before {
    display: block;
    content: "Ярослав Вовченко";
    font-family: HelveticaB;
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    width: 13.6rem;
    padding: .7rem 0;
    background-color: #5f7cec;
    position: absolute;
    bottom: -1.1rem;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    letter-spacing: .9px;
  }
}

.teachers__card-text-container {
  width: 14.8rem;
  margin: 0 auto;
}

.teachers__card-list {
  list-style: none;
  margin-bottom: .6rem;
}

.teachers__card-list-item {
  font-family: HelveticaR;
  font-size: pxToRem(14px);
  color: #6b6f7a;
  letter-spacing: .4px;
  line-height: 2.2;
}

.teachers__card-text {
  font-family: HelveticaB;
  font-size: pxToRem(14px);
  line-height: 2.2;
  letter-spacing: .3px;
}

@media (max-width: 374px) {
  .teachers__slider {
    .owl-nav {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .teachers {
    padding-top: 5.05rem;
    padding-bottom: 3.4rem;
  }

  .teachers__slider {
    .owl-nav {
      width: 26.5rem;
      top: 48.7%;
      left: 50%;
      transform: translate(-50%, -50%);
      button {
        width: 2.8rem;
        height: 2.8rem;
      }
    }
  }

  .teachers__title {
    font-size: pxToRem(20px);
    letter-spacing: 1.2px;
    margin-bottom: 3.05rem;
  }

  .teachers__card {
    width: 24rem;
    height: 36.75rem;
  }

  .teachers__card-text-container {
    width: 19.7rem;
  }

  .teachers__card-img-container {
    &::before {
      transform: translateX(0);
      left: 2.1rem;
    }
  }

  .teachers__card-list-item {
    font-size: 1rem;
    line-height: 1.9;
  }

  .teachers__card-text {
    font-size: 1rem;
    line-height: 1.9;
  }
}

@media (min-width: 768px) and (max-width: 1199px){
  .teachers {
    .container-fluid {
      padding: 0;
    }
    .row {
      margin: 0;
    }
    [class *= col-] {
      padding: 0;
    }
  }
}

@media (min-width: 1200px) {
  .teachers {
    padding-top: 4.6rem;
    padding-bottom: 3.8rem;
  }

  .teachers__card {
    width: 20rem;
  }

  .teachers__slider {
    margin: 0 auto;
    .owl-nav {
      display: flex !important;
      width: 100%;
      top: 40.7%;
      button {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }

  .teachers__title {
    font-size: pxToRem(20px);
    letter-spacing: 1.8px;
    margin-bottom: 3.25rem;
  }

  .teachers__card-text-container {
    width: 16rem;
  }
}

@media (min-width: 1454px) {
  .teachers {
    padding-top: 6.55rem;
    padding-bottom: 7.8rem;
  }

  .teachers__slider {
    width: 79.7rem;
    .owl-nav {
      top: 48.7%;
    }
  }

  .teachers__card {
    width: 24rem;
  }

  .teachers__card-text-container {
    width: 19.7rem;
  }

  .teachers__title {
    font-size: pxToRem(30px);
    margin-bottom: 5.05rem;
  }
}
