#terms {
  background-color: transparent;
  padding: .5rem 0;
}

.terms__item {
  text-align: center;
}

.terms__link {
  white-space: nowrap;
  display: block;
  text-align: center;
  font-family: HelveticaR;
  font-size: pxToRem(13px);
  color: #6b6f7a;
  margin-right: 0;
  cursor: pointer;
  letter-spacing: .5px;
  margin-bottom: 1rem;
  transition: all .3s linear;
  &:last-of-type {
    margin-bottom: 0;
  }
  &:hover {
    color: #eec14d;
  }
}

@media (min-width: 768px) {
  .terms__container-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .terms__link {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .terms__container-item {
    justify-content: flex-start;
  }

  .terms__link {
    margin-right: 5rem;
  }
}
//
// @media (min-width: 768px) {
//   #terms {
//     padding: .25rem 0;
//     padding-bottom: 0;
//   }
//
//   .terms__container-item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     position: relative;
//   }
//
//   .terms__link {
//     margin-bottom: 0;
//     font-size: 1rem;
//   }
// }
//
// @media (min-width: 1200px) {
//   #terms {
//     padding: 0;
//   }
//
//   .terms__ling {
//     letter-spacing: .5px;
//   }
//
//   .terms__container-item {
//     justify-content: flex-end;
//   }
//
//   .terms__link {
//     margin-right: 5.9rem;
//   }
// }
