.three-components {
  padding-top: .85rem;
  padding-bottom: 2.5rem;
}

.red-number {
  color: #c7007c;
}

.yellow-number {
  color: #eec14d;
}

.blue-number {
  color: #5f7cec;
}

.three-components__title {
  font-family: OswaldB;
  font-size: pxToRem(15px);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .9px;
  margin-bottom: 1.5rem;
  span {
    color: #eebf3e;
  }
}

.three-components__cards-container {
  margin-bottom: 2.5rem;
}

.three-components__card {
  margin-bottom: 1.1rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.three-components__card-img {
  display: block;
  width: pxToRem(142px);
  height: pxToRem(141px);
  margin: 0 auto;
  margin-bottom: 2.2rem;
}

.three-components__card-title {
  font-family: HelveticaB;
  font-size: pxToRem(20px);
  letter-spacing: .6px;
  margin-bottom: .8rem;
}

.three-components__card-text {
  font-family: HelveticaR;
  font-size: pxToRem(14px);
  line-height: 1.75;
  letter-spacing: .4px;
  color: #6b6f7a;
  span {
    font-family: HelveticaB;
    color: #000;
  }
}

.three-components__btn-container {
  display: flex;
  justify-content: center;
}

.three-components__btn {
  font-family: HelveticaB;
  font-size: pxToRem(13px);
  text-decoration: none;
  color: #fff;
  background-color: #fec240;
  text-align: center;
  padding: 1.3rem 0;
  width: 16.7rem;
  border-radius: 1.7rem;
  letter-spacing: .4px;
  box-shadow: 0 13px 18px 5px rgba(238, 193, 77, .4);
  &:hover {
    background-color: #e9b642;
    box-shadow: 0 13px 18px 5px rgba(233, 182, 66, .4);
  }
}

@media (max-width: 374px) {
  .three-components__card {
    &:nth-of-type(2) {
      margin-bottom: 1.7rem;
      .three-components__card-text {
        padding-right: 1.1rem;
      }
    }
    &:nth-of-type(3) {
      .three-components__card-img {
        margin-bottom: 2.7rem;
      }
    }
  }
}

@media (min-width: 768px) {
  .three-components {
    padding-bottom: 4rem;
  }

  .three-components__title {
    font-size: pxToRem(20px);
    letter-spacing: 1.2px;
    margin-bottom: 2rem;
  }

  .three-components__cards-container {
    width: 37.9rem;
    margin: 0 auto;
    margin-bottom: 3.2rem;
  }

  .three-components__card-img {
    width: pxToRem(195px);
    height: pxToRem(199px);
    margin-bottom: 2.5rem;
  }

  .three-components__card-title {
    font-size: pxToRem(25px);
    margin-bottom: 1.6rem;
  }

  .three-components__card-text {
    font-size: 1rem;
    line-height: 1.9;
  }

  .three-components__btn {
    font-size: pxToRem(19px);
    width: 25rem;
    padding: 1.2rem 0;
  }
}

@media (min-width: 1200px) {
  .three-components {
    padding-top: 3.85rem;
    padding-bottom: 3rem;
  }

  .three-components__title {
    font-size: pxToRem(30px);
    letter-spacing: 1.8px;
    margin-bottom: 4.1rem;
  }

  .three-components__card {
    flex-basis: 29%;
    margin-bottom: 0;
  }

  .three-components__cards-container {
    display: flex;
    justify-content: space-between;
    width: auto;
    margin-bottom: 5rem;
  }

  .three-components__card-img {
    margin: 0;
    margin-bottom: 3.3rem;
  }

  .three-components__card-title {
    font-size: pxToRem(30px);
    margin-bottom: 1.5rem;
  }
}
