.why-it {
  padding-top: 2rem;
  padding-bottom: 2.6rem;
  background-image: url("img/why-it/bg.svg");
  background-repeat: no-repeat;
  background-position: 52% 0;
  background-size: cover;
  .row:first-of-type {
    margin-bottom: 1rem;
  }
  .row:last-of-type {
    padding-top: 4rem;
  }
}

.why-it__title {
  font-family: HelveticaBL;
  font-size: pxToRem(30px);
  color: #e8e8f2;
  text-align: center;
  letter-spacing: .7px;
  margin-bottom: .4rem;
}

.why-it__subtitle {
  font-family: OswaldB;
  font-size: pxToRem(15px);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .9px;
  span {
    color: #eebf3e;
  }
}

.why-it__card {
  margin-bottom: 2rem;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.why-it__card-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: .8rem;
}

.why-it__card-img {
  width: pxToRem(135px);
}

.why-it__subscription {
  font-family: MarckScript;
  font-size: pxToRem(20px);
  color: #edc65a;
  text-align: center;
  letter-spacing: .9px;
}

.why-it__main-text {
  font-family: HelveticaR;
  font-size: 1rem;
  line-height: pxToRem(30px);
  text-align: center;
  letter-spacing: .4px;
}

@media (min-width: 768px) {
  .why-it {
    padding-top: 6.1rem;
    padding-bottom: 5.5rem;
    background-position: 65% 0;
    .row:first-of-type {
      margin-bottom: 3rem;
    }
    .row:last-of-type {
      padding-top: 5.7rem;
    }
  }

  .why-it__title {
    font-size: pxToRem(60px);
    letter-spacing: 1.7px;
    margin-bottom: 1.3rem;
  }

  .why-it__subtitle {
    font-size: pxToRem(20px);
    letter-spacing: 1.2px;
  }

  .why-it__card {
    display: flex;
    justify-content: center;
    margin-bottom: 3.3rem;
  }

  .why-it__card-img-container {
    flex-basis: 48%;
    margin-bottom: 0;
  }

  .why-it__card-img {
    width: pxToRem(227px);
  }

  .why-it__main-text {
    font-size: pxToRem(23px);
    text-align: left;
    margin-bottom: 1.6rem;
    line-height: 1.5;
  }

  .why-it__subscription {
    font-size: pxToRem(30px);
    text-align: left;
    order: 1;
    position: relative;
    &::before {
      display: block;
      content: url("img/why-it/arrow.png");
      position: absolute;
      left: -4rem;
      top: -1.4rem;
    }
  }

  .why-it__card-text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 50%;
  }
}

@media (min-width: 1200px) {
  .why-it {
    padding-top: 5.5rem;
    padding-bottom: 8.1rem;
    .row:first-of-type {
      margin-bottom: 5.1rem;
    }
    .row:last-of-type {
      padding-top: 0;
    }
  }

  .why-it__title {
    font-size: pxToRem(90px);
    margin-bottom: 2.1rem;
  }

  .why-it__subtitle {
    font-size: pxToRem(30px);
    letter-spacing: 1.7px;
  }

  .why-it {
    background-position: bottom;
    background-size: auto;
  }

  .why-it__card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .why-it__card-img-container {
    flex-basis: 50%;
  }

  .why-it__card {
    flex-basis: 50%;
    margin-bottom: 5.5rem;
    &:nth-of-type(n+3) {
      margin-bottom: 0;
    }
  }

  .why-it__main-text {
    font-size: pxToRem(25px);
    br {
      display: none;
    }
  }

  .why-it__card-text-container {
    justify-content: flex-start;
    padding-top: 3.8rem;
  }

  .why-it__subscription {
    font-size: 1.9rem;
    letter-spacing: 0;
    &::before {
      display: none;
    }
  }
}

@media (min-width: 1454px) {
  .why-it__subscription {
    font-size: pxToRem(35px);
    &::before {
      display: block;
    }
  }
}
