@import "main.scss";
@import "typografic.scss";
@import "magnific-popup.scss";
@import "header.scss";
@import "sec-01.scss";
@import "why-it.scss";
@import "prepare-child.scss";
@import "test.scss";
@import "three-components.scss";
@import "education-format.scss";
@import "teachers.scss";
@import "terms.scss";
@import "modal.scss";
@import "modal-form.scss";
